body {
    background-color: rgb(230, 228, 228);
}

h1 {
    font-family: "Permanent Marker", serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 16px;
    padding: 10px 20px;
}

.card {
    font-family: "Inter", serif;
    max-width: 230px;
    padding: 2em 1em .5em 1em;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #F9FAFB;
}

.card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: .9rem;
    font-weight: 500;
    color: #111827;
}

p {
    font-size: .7rem;
    line-height: 1.5;
    color: #6B7280;
}

.icon {
    font-size: 17px;
    color: white;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 34px;
    height: 35px;
    margin-top: -50px;
    border-radius: 6px;
    border: none;
    background-color: #3F75FE;
    cursor: pointer;
}