
/* Hero section */

.hero-img {
    width: 100%;
    /* height: 18.3em; */
    /* height: 230vh; */
}

.hero-text {
    /* position: absolute; */
    /* top: 100px;
    left: 0; */
    color: white;
    
    background: #000 url("../images/article-image-hero.png");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    min-height: 18.5em;
    padding-top: 5.4em;
    padding-left: 1.25em;
    padding: 5em 1.25em 1.25em;
}

.hero-date {
    font-size: .75rem;
    text-transform: uppercase;
}

.hero-text h2 {
    font-size: 2rem;
    line-height: 1.125;
    max-width: 90%;
    padding-bottom: .3em;
}

.hero-text .hero-intro {
    font-size: 1rem;
}

.hero-text .hero-intro {
    font-size: 1rem;
}

/* Main Section */
.main-section {
    padding: 2.125em 1.25em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;

}

.img-container {
    width: 100%;
    /* height: 100%; */
}

.main-section img {
    width: 100%;
    height: 100%;
}

.main-section .blog-date {
    padding-top: 0.4em;
    padding-bottom: .2em;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.main-section .blog-text {
    padding-top: .2em;
    color: #505050;
}

.main-section .blog {
    padding-bottom: 2em;
}

.main-section a {
    text-decoration: none;
    color: black;
}

/* Additional section */
.added-section {
    text-align: center;
    padding-bottom: 2em;
}

.added-section .view-more-btn {
    font-weight: 700;
    color: black;
    border: none;
    text-decoration: underline;
}


/* MEDIA QUERIES */
@media (min-width: 660px) {
    .hero-date {
        font-size: 1rem;
    }

    .hero-section h2 {
        font-size: 2.5rem;
    }

    .hero-intro {
        font-size: 1rem;
        max-width: 50%;
    }


    .main-section {
        padding: 4em;
        font-size: 1.1rem;

    }

    .main-section .blog-date {
        font-size: 1rem;
        padding-top: 1.2rem;
    }
}


@media (min-width: 1000px) {
    .hero-text {
        height: 80vh;
        background: #000 url("../images/article-image.png");
        background-size: 100% 100%;

    }
}
