body {
    background: #273549;
    margin: 50px 30px;
    text-align: left;

}

header h1 {
    color: white;
    font-family: "Karla", sans-serif ;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    /* text-align: left; */

}

.green-header {
    color: #55F991;
}

.subheading {
    color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
    /* text-align: left; */
}

button {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 9px 17px 9px 15px;
    border: none;
    border-radius: 6px;
    background: #10B981;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #2a8062;

}

button:active {
    transform: scale(0.99);
}

footer .border {
    border-top: 1px solid gray;
    margin-bottom: 20px;
    width: 446px;
}

footer button {
    color: #55F991;
    width: 211px;
    height: 39px;
    background-color: #2F3E53;
    margin-right: 20px;






}