main {
    padding: 1.25em;
}

/* TOP SECTION */
article.top-section img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.top-section h2 {
    font-size: 2.18rem;
    line-height: 1;
    padding-top: .7em;
}

/* MAIN SECTION */
.middle-section p {
    padding-top: 1em;
}

h4 {
    padding-top: 1em;
}

.top-section p {
    padding-top: 1.2em;
    padding-bottom: 2em;
}


/* RECENT BLOGS SECTION */
/* Main Section */
.recent-blogs h4 {
    padding-top: 2.8em;
    text-align: center;
}

.main-section {
    padding: 2em 1.25em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.img-container {
    width: 100%;
    /* height: 100%; */
}

.main-section img {
    width: 100%;
    height: 100%;
}

.main-section .blog-date {
    padding-top: 0.4em;
    padding-bottom: .2em;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.main-section .blog-text {
    padding-top: .2em;
    color: #505050;
}

.recent-blogs {
    padding-bottom: 2em;
}

.main-section a {
    text-decoration: none;
    color: black;
}


/* MEDIA QUERIES */
@media(min-width: 660px) {
    main {
        padding-left: 3.3em;
        padding-right: 3.3em;
    }

    .main-section {
        padding: 4em;
        padding-top: 1.3em;
        font-size: 1.1rem;
    }

    .main-section .blog-date {
        font-size: 1rem;
        padding-top: 1.2rem;
    }

    .top-section {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        padding-top: 2em;
        gap: 33px;
        row-gap: 0;
    }

    .top-section P {
        /* grid-area: 2 / 2; */
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        padding-top: .5em;
    }

    .top-section h2 {
        /* padding-top: 0; */
        grid-row: 1 / 2;
        grid-column: 2 / 5;
    }

    .top-section img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .middle-section {
        padding: 3em 4.25em 0;
    }

    .middle-section h4 {
        font-size: 1.25rem;
    }

    .recent-blogs h4 {
        font-size: 1.5rem;
        padding-top: 1.5em;
    }
}
