h1, h2 {
  font-family: "Permanent Marker", serif;
}

h1 {
  font-size: 3.3rem;
  margin: 0;
  padding-left: 20px;
}

h2 {
  font-size: 1.6rem;
  color: #5E5D5D;
  text-align: center;
}

.banner-container {
  display: grid;
  grid-template-columns: minmax(10px, 110px) 1fr;
  gap: 30px;
  align-items: center;
}

.banner {
  display: flex;
  gap: 12px;
  font-family: "Inter", serif;
  max-width: 700px;
  cursor: pointer;
}

.icon {
  padding-top: 11px;
  padding-left: 18px;
  font-size: 16px;
}

.title, .message {
  font-size: .75rem;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
}

.message {
  margin-top: 10px;
}
